<!--The content below is only a placeholder and can be replaced.-->
<h1>Assignment Task-2</h1>
<hr>
<div>
  <input type="number" (input)="onNumberChange($event.target.value)" placeholder="please enter your number" />
</div>
<div>
  <table>
    <tr *ngFor="let data of  numberValue;let i = index ">
      <td *ngFor='let item of data;let j= index'>
        {{item}}
      </td>
      <th>{{getSum(data)}}</th>
    </tr>
    <tr>
      <ng-container *ngFor="let data of numberValue;let i = index">
        <th *ngIf="i<10">
          {{getColumnSum(i)}}
        </th>
      </ng-container>

    </tr>
  </table>

</div>