<!--The content below is only a placeholder and can be replaced.-->
<h1>Assignment Task-2</h1>
<hr>
<div>
  <input type="number" (input)="onNumberChange($event.target.value)" placeholder="please enter your number" />
</div>
<div>
  <table>
    <tbody>
      <tr>
        <td *ngFor="let data of  numberValue ">
          <table *ngFor='let item of data'>
            <tr>
              <td>{{item}}</td>
            </tr>
          </table>
      <tr>
        <th> {{getSum(data)}}</th>
      </tr>
      </td>
      <td>
        <table *ngFor="let data of numberValue2">
          <tr>
            <th>{{data}}</th>
          </tr>
        </table>

      </td>
      </tr>
    </tbody>
  </table>

</div>